@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply text-[1rem] h-[100vh] !scroll-auto;
}

body {
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  font: inherit;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input:placeholder {
  padding-left: 12px !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.elliptic-blur,
.elliptic-blur2 {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  filter: blur(550px);
  opacity: 0.7;
}

.elliptic-blur {
  bottom: 0px;
  left: -100px;
  width: 400px;
  height: 200px;
  background: #1de782;
  border-radius: 50%;
}

.elliptic-blur2 {
  top: 0px;
  right: 0px;
  width: 400px;
  height: 200px;
  background: #1de7c7;
  border-radius: 50%;
}
